@import "tailwindcss";

@theme {
    --color-primary: #003B63; /* Light Blue */
    --color-secondary: #FF841A; /* Orange */
    --color-accent: #19212A; /* Dark Blue */
    --color-foreground: #FFFFFF; /* White */
}

html {
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
}


/* Agar nahi hai toh apne global CSS mein add karo */
.slick-slide {
    padding: 0 10px; /* Card spacing */
}

.slick-list {
    margin: 0 -10px; /* Negative margin for spacing */
}

/* Mobile ke liye */
@media (max-width: 640px) {
    .slick-slide {
        padding: 0 5px;
    }
    
    .slick-list {
        margin: 0 -5px;
    }
}